{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
{% set icon %}
        <img width="21" height="28" alt="APC" style="border-width: 0; vertical-align: middle; margin-right: 5px;" src=""/>
    {% endset %}
{% set text %}
        {% spaceless %}
            {% if verbose %}
                <span>{{ collector.fileinfo.num_entries }}</span>
                <span style="margin: 0; padding: 0; color: #979696;">|</span>
                <span>{{ collector.userinfo.num_entries }}</span>
                <span style="margin: 0; padding: 0; color: #979696;">|</span>
                <span>{{ '%.1f'|format((collector.smainfo.num_seg * collector.smainfo.seg_size - collector.smainfo.avail_mem) / 1024 / 1024) }} MB</span>
            {% endif %}
        {% endspaceless %}
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon">
        <img width=30 src="{{ asset('bundles/webprofilerextra/images/twig.png') }}" />
    </span>
    <strong>APC</strong>
    <span class="count">
        <span>{{ collector.fileinfo.num_entries }}</span>
        <span>{{ collector.userinfo.num_entries }}</span>
        <span>{{ '%.1f'|format((collector.smainfo.num_seg * collector.smainfo.seg_size - collector.smainfo.avail_mem) / 1024 / 1024) }} MB</span>
    </span>
</span>
{% endblock %}
{% block panel %}
    <h2>General Cache Information</h2>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        <tr>
            <th>APC Version</th>
            <td>{{ collector.version }}</td>
        </tr>
        <tr>
            <th>Shared Memory</th>
            <td>
            {{ collector.smainfo.num_seg }}
            {% transchoice collector.smainfo.num_seg %}
            {1} Segment|]1,Inf]Segments
            {% endtranschoice %}
            with {{ '%.1f'|format(collector.smainfo.num_seg * collector.smainfo.seg_size / 1024 / 1024) }} MB<br />
            ({{ collector.fileinfo.memory_type }}, {{ collector.fileinfo.locking_type }})
            </td>
        </tr>
        <tr>
            <th>Start Time</th>
            <td>{{ collector.fileinfo.start_time|date }}</td>
        </tr>
        <tr>
            <th>File Upload Support</th>
            <td>{{ collector.fileinfo.file_upload_progress ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>Cache By Default</th>
            <td>{{ collector.ini['apc.cache_by_default'] ? 'enabled' : 'disabled' }}</td>
        </tr>
    </table>
    <h2>Memory Usage and Fragmentation</h2>
    <table>
        <tr>
            <th>Key</th>
            <th>Size</th>
            <th>Parcent</th>
        </tr>
        <tr>
            <th>Memory Free</th>
            <td>{{ '%.1f'|format(collector.smainfo.avail_mem / 1024 / 1024) }} MB</td>
            <td>{{ '%.1f'|format((collector.smainfo.avail_mem / (collector.smainfo.num_seg * collector.smainfo.seg_size)) * 100 )}}%</td>
        </tr>
        <tr>
            <th>Memory Used</th>
            <td>{{ '%.1f'|format((collector.smainfo.num_seg * collector.smainfo.seg_size - collector.smainfo.avail_mem) / 1024 / 1024) }} MB</td>
            <td>{{ '%.1f'|format(((collector.smainfo.num_seg * collector.smainfo.seg_size - collector.smainfo.avail_mem) / (collector.smainfo.num_seg * collector.smainfo.seg_size)) * 100 )}}%</td>
        </tr>
        <tr>
            <th>Hits Status</th>
            <td>{{ collector.fileinfo.num_hits + collector.userinfo.num_hits }}</td>
            <td>{{ '%.1f'|format(((collector.fileinfo.num_hits + collector.userinfo.num_hits) / (collector.fileinfo.num_hits + collector.userinfo.num_hits + collector.fileinfo.num_misses + collector.userinfo.num_misses)) * 100 )}}%</td>
        </tr>
        <tr>
            <th>Misses Status</th>
            <td>{{ collector.fileinfo.num_misses + collector.userinfo.num_misses }}</td>
            <td>{{ '%.1f'|format(((collector.fileinfo.num_misses + collector.userinfo.num_misses) / (collector.fileinfo.num_hits + collector.userinfo.num_hits + collector.fileinfo.num_misses + collector.userinfo.num_misses)) * 100 )}}%</td>
        </tr>
    </table>
    <h2>File Cache Information</h2>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        <tr>
            <th>Cached Files</th>
            <td>{{ collector.fileinfo.num_entries }}</td>
        </tr>
        <tr>
            <th>Hits</th>
            <td>{{ collector.fileinfo.num_hits }}</td>
        </tr>
        <tr>
            <th>Misses</th>
            <td>{{ collector.fileinfo.num_misses }}</td>
        </tr>
    </table>
    <h2>User Cache Information</h2>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        <tr>
            <th>Cached Variables</th>
            <td>{{ collector.userinfo.num_entries }}</td>
        </tr>
        <tr>
            <th>Hits</th>
            <td>{{ collector.userinfo.num_hits }}</td>
        </tr>
        <tr>
            <th>Misses</th>
            <td>{{ collector.userinfo.num_misses }}</td>
        </tr>
    </table>
    <h2>User Cache Entries</h2>
    <table>
        <tr>
            <th>User Entry Label</th>
            <th>Hits</th>
            <th>Size</th>
            <th>Last accessed</th>
            <th>Last modified</th>
            <th>Created at</th>
            <th>Timeout</th>
            <th>Deleted at</th>
        </tr>
        {% for user in collector.userlist %}
            <tr>
                <td>{{ user.info }}</td>
                <td>{{ user.num_hits }}</td>
                <td>{{ user.mem_size }}</td>
                <td>{{ user.access_time|date('Y-m-d H:i:s') }}</td>
                <td>{{ user.mtime|date('Y-m-d H:i:s') }}</td>
                <td>{{ user.creation_time|date('Y-m-d H:i:s') }}</td>
                <td>{{ user.ttl ? user.ttl|date('Y-m-d H:i:s') : 'None' }}</td>
                <td>{{ user.deletion_time ? user.deletion_time|date('Y-m-d H:i:s') : 'None' }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>System Cache Entries</h2>
    <table>
        <tr>
            <th>Script Filename</th>
            <th>Hits</th>
            <th>Size</th>
            <th>Last accessed</th>
            <th>Last modified</th>
            <th>Created at</th>
            <th>Deleted at</th>
        </tr>
        {% for file in collector.filelist %}
            <tr>
                <td>{{ file.filename }}</td>
                <td>{{ file.num_hits }}</td>
                <td>{{ file.mem_size }}</td>
                <td>{{ file.access_time|date('Y-m-d H:i:s') }}</td>
                <td>{{ file.mtime|date('Y-m-d H:i:s') }}</td>
                <td>{{ file.creation_time|date('Y-m-d H:i:s') }}</td>
                <td>{{ file.deletion_time ? file.deletion_time|date('Y-m-d H:i:s') : 'None' }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}